<html>
<head>
 
</head>



<body>


<header id="ha-header" class="ha-header ha-header-hide "  >
        <div class="ha-header-perspective">
        <div class="ha-header-front navbar navbar-default">
              <div class="compressed">
                <div class="navbar-header">
                  <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="#" class="navbar-brand compressed"><img src="img/logo_condensed.png" alt="" data-src="img/logo_condensed.png" data-src-retina="img/logo2x.png" width="119" height="22"/></a>
                </div>
                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right" >
                    <li ><a href="">Home</a></li>
                <li ><a href="#">Tour</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li ><a href="#">Products</a></li>
                    <li ><a  data-toggle="modal" data-target="#myModal">Login / Sign Up</a></li>
                        </ul>
                </div><!--/.nav-collapse -->



              </div>

              

      
          </div>
        </div>
      </header>



      <div class="section ha-waypoint"  data-animate-down="ha-header-hide" data-animate-up="ha-header-hide">
  <div role="navigation" class="navbar navbar-transparent navbar-top">
        <div class="container"> 
        <div class="compressed">
            <div class="navbar-header">
             <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
             </button>
             <a href="#" class="navbar-brand"><img src="img/logo.png" data-src="img/logo.png" data-src-retina="img/logo_2x.png" width="119" height="22" alt=""/></a>     
            </div>
            <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right" >
                <li ><a href="index.html">Home</a></li>
              <li ><a href="#">Tour</a></li>
              <li><a href="#">Pricing</a></li>
              <li ><a href="#">Products</a></li>
              <li ><a data-toggle="modal" data-target="#myModal">Login / Sign Up</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
      </div>
      </div>
  <!--BEGIN SLIDER -->
    <div class="tp-banner-container">
        <div class="tp-banner" id="home" >
            <ul>
            <!-- SLIDE  -->
              <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
                <!-- MAIN IMAGE -->
                <img src="img/bg/slide_one.jpg"   alt="slidebg1"  data-bgfit="cover" data-    bgposition="center center" data-bgrepeat="no-repeat">


              <!-- LAYERS -->
              <div class="tp-caption mediumlarge_light_white_center sft tp-resizeme slider" data-x="center" data-hoffset="0" data-y="60" data-speed="500" data-start="800" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
    <h2 class="text-white custom-font title ">WE'VE DESIGN<br> EVERYTHING JUST FOR YOU</h2>

            </div>
          <div class="tp-caption sfb slider tp-resizeme slider"
            data-x="center"
            data-hoffset="0"
            data-y="240"
            data-speed="800"
            data-start="1000"
            data-easing="Power4.easeOut"
            data-endspeed="300"
            data-endeasing="Power1.easeIn"
            data-captionhidden="off"
            style="z-index: 6"> <a href="#" class="btn btn-purple btn-lg  btn-large m-r-10">Create your site Today !</a>
          </div>
          <div class="tp-caption fade slider tp-resizeme slider"
            data-x="center"
            data-hoffset="0"
            data-y="300"
            data-speed="500"
            data-start="800"
            data-easing="Power4.easeOut"
            data-endspeed="300"
            data-endeasing="Power1.easeIn"
            data-captionhidden="off"
            style="z-index: 6"> <a href="#" class="text-white m-r-10">or subscribe to newsletter</a>
          </div>
        </li>         
        <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
          <!-- MAIN IMAGE -->
          <img src="img/bg/picture-1.jpg"   alt="slidebg2"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

          <!-- LAYERS -->
          <div class="tp-caption mediumlarge_light_white_center sft tp-resizeme slider"
              data-x="center" data-hoffset="0"
              data-y="60"
              data-speed="500"
              data-start="800"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6"><h2 class="text-white custom-font title ">WE'VE DESIGN<br> EVERYTHING JUST FOR YOU</h2>

          </div>
          <div class="tp-caption sfb slider tp-resizeme slider"
            data-x="center"
            data-hoffset="0"
            data-y="240"
            data-speed="800"
            data-start="1000"
            data-easing="Power4.easeOut"
            data-endspeed="300"
            data-endeasing="Power1.easeIn"
            data-captionhidden="off"
            style="z-index: 6"> <a href="#" class="btn btn-purple btn-lg  btn-large m-r-10">Create your site Today !</a>
          </div>
          
        </li> 
        <!-- SLIDE  -->
      <li data-transition="parallaxtoright" data-slotamount="7" data-masterspeed="1000"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7">
            <!-- MAIN IMAGE -->
            <img src="video/first-frame.jpg"  alt="video_forest"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
          
            <!-- LAYERS -->

            <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-fade fadeout fullscreenvideo"
              data-x="0"
              data-y="0"
              data-speed="1000"
              data-start="1100"
              data-easing="Power4.easeOut"
              data-endspeed="1500"
              data-endeasing="Power4.easeIn"
              data-autoplay="true"
              data-autoplayonlyfirsttime="false"
              data-nextslideatend="true"
              data-forceCover="1"
              data-dottedoverlay="twoxtwo"
              data-aspectratio="16:9"
              data-forcerewind="on"
              style="z-index: 2">


             <video class="video-js vjs-default-skin" preload="none" style="width:100%;height:100%;"
            poster='video/first-frame.jpg' data-setup="{}">
            <source src='video/home.mp4' type='video/mp4' />
            <source src='video/home.webm' type='video/webm' />
            <source src='video/home.ogv' type='video/ogg' />
            </video>

            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption large_bold_white_25 customin customout tp-resizeme"
              data-x="center" data-hoffset="0"
              data-y="170"
              data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-speed="600"
              data-start="1400"
              data-easing="Power4.easeOut"
              data-endspeed="600"
              data-endeasing="Power0.easeIn"
              style="z-index: 3">The clearest way into the Universe<br/>is through a forest wilderness.

            </div>

            <!-- LAYER NR. 3 -->
            <div class="tp-caption medium_text_shadow customin customout tp-resizeme"
              data-x="center" data-hoffset="0"
              data-y="bottom" data-voffset="-140"
              data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-speed="600"
              data-start="1700"
              data-easing="Power4.easeOut"
              data-endspeed="600"
              data-endeasing="Power0.easeIn"
              style="z-index: 4">John Muir
            </div>
          </li>
      </ul>
      <div class="tp-bannertimer"></div>
    </div>
  </div>
  <!--END SLIDER
    
  -->
      

  
</div>
<div class="section ">
  <div class="container">
    <div class="p-t-40 p-b-40">
     <h2 class="text-center">Create the <span class="semi-bold">impossible</span>, We’ve <span class="semi-bold">designed everything</span> beyond... <a href="#" class="btn btn-purple btn-lg  btn-large m-r-10">Sign-Up/Login</a></h2>
    </div>
  </div>
</div>  
<div class="section white ha-waypoint"  data-animate-down="ha-header-color" data-animate-up="ha-header-hide" >
    <div class="container">
    <div class="p-t-60">
    <div class="row">
    <div class="col-md-12 feature-list ">
      <div class="col-md-4 " data-ride="animated" data-animation="fadeIn" data-delay="300">
      <h4 class="title">FULL PACKAGE</h4>
      <p>
      We combine intelligent thinking with stimulating design to keep your brand engaging and help challenging brands find their clarity.
      </p>
      </div>
      <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="600">
      <h4 class="title">CUSTOMIZATION</h4>
      <p>
      Make any design your own using the Style Editor. Personalize fonts, colors, and layouts to create the custom look you want.
      </p>
      </div>
      <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="900">
      <h4 class="title">SOCIAL</h4>
      <p>
      Import. Sync. Publish. Make your website the center of your online identity on the web with our powerful social integrations.
      </p>
      </div>
    </div>
    </div>
    <br>
    <div class="row">
    <div class="col-md-12 feature-list">
      <div class="col-md-4 " data-ride="animated" data-animation="fadeIn" data-delay="1200">
      <h4 class="title">TEMPLATES</h4>
      <p>
      Squarespace websites are created with modern browsers and mobile devices in mind. They employ the latest HTML, CSS and Javascript techniques.
      </p>
      </div>
      <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="1500">
      <h4 class="title">CUSTOMIZATION</h4>
      <p>
      Make any design your own using the Style Editor. Personalize fonts, colors, and layouts to create the custom look you want.
      </p>
      </div>
      <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="1800">
      <h4 class="title">SOCIAL</h4>
      <p>
      Import. Sync. Publish. Make your website the center of your online identity on the web with our powerful social integrations.
      </p>
      </div>
      <div class="clearfix"></div>
    </div>
    </div>
    <div class="section relative">
      <div class="row">

        <img src="img/browser.png" alt="" class="resize p-t-60 col-md-9 hidden-xs" style="" data-ride="animated" data-animation="fadeInUp" data-delay="300">
    
    
        <img src="img/phone.png" alt="" class="resize p-t-60 col-md-2 push-bottom hidden-sm hidden-xs visible-lg visible-md" data-ride="animated" data-animation="fadeInRight" data-delay="600" style="right:9%">      
      
    
      </div>
    </div>
      <div class="clearfix"></div>
    </div>
    </div>
    </div>

<div class="section grey">
  <div class="container">
    <div class="p-t-40 p-b-50 ">
    <div class="row">
      <div class="col-md-12">
        <h2><span class="normal">Make life much easier</span><br>
        download webarch full package with <span class="normal">frontend</span><button type="button" class="btn btn-primary btn-cons m-l-30">Subscribe</button></h2>
      </div>
    </div>
    <br>
    <div class="row feature-list">    
      <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="300">
      <h4 class="title custom-font">MILLIONS OF POSSIBILITIES</h4>
      <p class="p-r-50">
        Hundreds of free desktop apps Enjoy a mobile-like app experience on your PC, with free apps and games like Facebook and Farmville 2.
      </p>
      </div>
      <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="600">
      <h4 class="title custom-font">REAL TIME NOTIFICATIONS</h4>
      <p class="p-r-50">
        Stay informed with notifications from your favorite apps keeping you up to date on your emails, tweets and more.
      </p>
      </div>
      <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="900">
      <h4 class="title custom-font">ONE CLICK AWAY</h4>
      <p class="p-r-50">
        Find, organize, and launch your favorite apps, sites, and files faster and easier than ever before.
      </p>
      </div>
    
    </div>
    </div>
  </div>
</div>  
<div class="section white">
    <div class="container">
      <div class="p-t-60 p-b-50 ">
        <div class="row feature-list">
          <div class="col-md-3 ">
            <h4 class="custom-font title">CUSTOMERS</h4>          
            <h1 class="custom-font"><span class="number-animator" data-value="4500" data-animation-duration="800">0</span></h1>
            <div class="col-md-8 no-padding">
              <div class="progress transparent progress-small no-radius ">
                <div class="progress-bar progress-bar-black animated-progress-bar " data-percentage="79%"></div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h4 class="custom-font title">SITES</h4>
            <h1 class="custom-font"><span class="number-animator" data-value="505" data-animation-duration="800">0</span></h1>
            <div class="col-md-8 no-padding">
            <div class="progress transparent progress-small no-radius no-margin">
              <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="45%" ></div>
            </div>
            </div>
          </div>
          <div class="col-md-3">
            <h4 class="custom-font title">PROJECTS</h4>
            <h1 class="custom-font"><span class="number-animator" data-value="1500" data-animation-duration="800">0</span></h1>
            <div class="col-md-8 no-padding">
            <div class="progress transparent progress-small no-radius no-margin">
              <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="12%"></div>
            </div>
            </div>
          </div>
          <div class="col-md-3">
            <h4 class="custom-font title">JOBS</h4>
            <h1 class="custom-font"><span class="number-animator" data-value="14000" data-animation-duration="800">0</span></h1>
            <div class="col-md-8 no-padding">
            <div class="progress transparent progress-small no-radius no-margin">
              <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="85%"></div>
            </div>
            </div>
          </div>
        </div>    
      </div>
    </div>
</div>
<div class="section table-layout">  
      <div id="working-section" class="table-cell v-middle">  
        <div >
        <h2 class="text-white text-center custom-font no-margin">MILLIONS OF SATISFIED CUSTOMERS</h2>
        </div>
      </div>
</div>
<div class="section white">
    <div class="container">
      <div class="p-t-60 p-b-50">
        <div id="testomonials" class="owl-carousel row">
        <div class="item">
          <div class="col-md-6  col-md-offset-3">
            <h3 class="normal text-center">
            I’m really happy that webarch is able to offer 
support specifically tailored to creative businesses and I’d love Nottingham to become renowned for this.
            </h3>
            <p class="text-center">Caroline Hennigan, Programme Director, Broadway</p>
          </div>
        </div>
        <div class="item">
          <div class="col-md-6   col-md-offset-3">
            <h3 class="normal text-center">
            I’m really happy that webarch is able to offer 
support specifically tailored to creative businesses and I’d love Nottingham to become renowned for this.
            </h3>
            <p class="text-center">Caroline Hennigan, Programme Director, Broadway</p>
          </div>
        </div>
        <div class="item">
          <div class="col-md-6   col-md-offset-3">
            <h3 class="semi-bold text-center">
            I’m really happy that webarch is able to offer 
support specifically tailored to creative businesses and I’d love Nottingham to become renowned for this.
            </h3>
            <p class="text-center">Caroline Hennigan, Programme Director, Broadway</p>
          </div>
        </div>
    </div>
  </div>
  </div>
</div>
<div class="section black">
    <div class="container">
      <div class="p-t-60 p-b-60">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center text-white m-b-30">Would you like to sign up for our <span class="semi-bold">programme?</span> 
Register your interest below</h2>
          <div class="row form-row">
                      <div class="col-md-6 col-md-offset-2 no-padding  col-sm-6 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                        <input name="form3Occupation" id="form3Occupation" type="text" class="form-control " placeholder="Enter your email addres">
                        <input name="form3Occupation" id="form3Occupation" type="password" class="form-control " placeholder="Enter your Password">
                      </div>
             <div class="col-md-4  col-xs-4 xs-p-l-10 " style="margin-top:5.5%">
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 xs-p-l-10">
                <button type="button" class="btn btn-primary btn-cons ">Login</button>
            </div>  
                    </div>
          <div class="row">
            <a href="#" class="text-white text-center col-md-11 col-sm-11 col-xs-11">or Don't have account Sign-Up</a>
          </div>
          <div class="clearfix"></div>
          <div class="row m-t-30">
            <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2">
            <div class="checkbox check-default">
              <input id="checkbox1" type="checkbox" value="1">
              <label for="checkbox1">Daily newsletters</label>
            </div>
            </div>
            <div class="col-md-4 col-sm-4">
            <div class="checkbox check-default">
              <input id="checkbox2" type="checkbox" value="1">
              <label for="checkbox2">No promotions</label>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2">
            <div class="checkbox check-default">
              <input id="checkbox3" type="checkbox" value="1">
              <label for="checkbox3">Industry specific events</label>
            </div>
            </div>
            <div class="col-md-4 col-sm-4">
            <div class="checkbox check-default">
              <input id="checkbox4" type="checkbox" value="1">
              <label for="checkbox4">Accessing News letters</label>
            </div>
            </div>
          </div>
          </div>          
        </div>
        
      </div>
    </div>
</div>
<div class="section white footer">
    <div class="container">
      <div class="p-t-30 p-b-50">
        <div class="row">
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12 xs-m-b-20">
          <img src="img/logo_condensed.png" alt="" data-src="img/logo_condensed.png" data-src-retina="img/logo2x.png" width="119" height="22"/>
          </div>
          <div class="col-md-4 col-lg-3 col-sm-4  col-xs-12 xs-m-b-20">
            <address class="xs-no-padding  col-md-6 col-lg-6 col-sm-6  col-xs-12">  
              #318<br>
              16th Cross, 5th Phase<br>
              Bangalore - 560078<br>
              India
            </address>
            <div class="xs-no-padding col-md-6 col-lg-6 col-sm-6">
              <div>(0039) 389 957 5552</div>
              support@eMangu.com
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="col-md-2 col-lg-2 col-sm-2  col-xs-12 xs-m-b-20">
            Copyright © 2013
            Privacy Policy
            Design by <a href="#">eMangu Team</a>
          </div>
          <div class="col-md-2 col-lg-2 col-sm-2  col-xs-12 xs-m-b-20">
          <div class="bold">RECRUITMENT</div>
          We are frequently on the lookout for new talent!
          </div>
          <div class="col-md-2 col-lg-2 col-sm-2  col-xs-12 ">
          <div class="bold">FOLLOW US</div>
          We are frequently on the lookout for new talent!
          </div>
        </div>






      </div>
</div>
</div>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">Login or Sign-Up</h3>
      </div>
      <div class="modal-body modal_back">
       
      

        
        <div class="col-md-12">
     <div class="p-t-30 p-l-40 p-b-20 xs-p-t-10 xs-p-l-10 xs-p-b-10 modal_text"> 
          <h2 class="normal">Sign in to eMangu</h2>
          <p><button class="btn-facebook"><i class="fa fa-facebook"></i> | Facebook</button> <button class="btn-twitter"><i class="fa fa-twitter"></i> | Twitter</button>  
          <button class="btn-google-plus"><i class="fa fa-google-plus"></i> | Google +</button><br></p>

          <p class="p-b-20">Sign up Now! for eMangu accounts, Hey..it's free ..</p>
      
        </div>
    <div class=" p-t-20 p-b-20 text-black">

      <form id="frm_login" class="animated fadeIn">    
                    <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                      <div class="col-md-10">
                        <input name="login_username" id="login_username" type="text"  class="form-control" placeholder="Username">
                      </div>
                      </div>
                      <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                      <div class="col-md-10">
                        <input name="login_pass" id="login_pass" type="password"  class="form-control" placeholder="Password">
                      </div>
                    </div>
                    <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                      <div class="col-md-10 button_margin">
                <button type="button" class="btn btn-primary btn-cons">Login</button>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-info btn-cons" id="register_toggle"> Create Account</button>
                </div>
                </div>

        <div class="row p-t-10 m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
          <div class="control-group  col-md-10">
          <div class="checkbox checkbox check-success"> <a href="#">Trouble login in?</a>&nbsp;&nbsp;
            <input type="checkbox" id="checkbox1" value="1">
            <label for="checkbox1">Keep me reminded </label>
          </div>
          </div>
          </div>
        </form>


      <form id="frm_register" class="animated fadeIn" style="display:none">

                    <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                      <div class="col-md-10">
                        <input name="reg_username" id="reg_username" type="text"  class="form-control" placeholder="Username">
                      </div>
                      </div>
                      <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                      <div class="col-md-10">
                        <input name="reg_mail" id="reg_mail" type="text"  class="form-control" placeholder="Email">
                      </div>
                    </div>  
                      <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                      <div class="col-md-10">
                        <input name="reg_pass" id="reg_pass" type="password"  class="form-control" placeholder="Password">
                      </div> 
                      </div>     
                    
                      <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                      <div class="col-md-10">
                        <input name="conf_pass" id="reg_pass" type="password"  class="form-control" placeholder="Confirm Password">
                      </div> 
                      </div>
                      <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10"> 
                      <div class="col-md-10 button_margin">
                  <button type="button" class="btn btn-info btn-cons" >Create Account</button> &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary btn-cons" id="login_toggle"> Login</button> 
                  </div>
                  </div>     
      </form>
    </div>   
      </div>   
  


      </div>
      
    </div>
  </div>

  </body>
</html>
